<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<bean id="animeCharacter"
		class="com.xworkz.animation.AnimeCharacter"></bean>
	<bean id="laptop" class="com.xworkz.animation.Laptop"></bean>
	<bean id="doctor" class="com.xworkz.animation.Doctor"></bean>
	<bean id="corona" class="com.xworkz.animation.Corona"></bean>
	<bean id="minister" class="com.xworkz.animation.Minister"></bean>
	<bean id="string" class="java.lang.String"></bean>
</beans>